.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body > #root > div {
  height: 100vh;
}
.logo-tecnoduero{
  height: 10%;
  margin-right: 6%;
}
.encola {
  background-color: #101010 !important;/* Cambia el color de fondo a verde */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.btn-create{
  background:none;
  border: 1px solid #4976E4;
  color: #4976E4;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  float: left;
  margin-left: 1%;
}
.btn-create:hover{
  background: none;
  background-color: #4976E4;
  transform: scale(1.1,1.1);
  float: left;
  color: #ffffff;
}
.btn-search{
  background:none;
  border: 1px solid #a949e4;
  color: #a949e4;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  float: left;
  margin-left: 1%;
}
.btn-search:hover{
  background: none;
  background-color: #a949e4;
  transform: scale(1.1,1.1);
  float: left;
  color: #ffffff;
}
.prueba{
  transition: transform 0.2s;
  margin-left: 5%;
}
.prueba:hover{
  transform: scale(1.2,1.2);
}
/* Estilo para el estado "ON" */
.bordered-cell-on,
.bordered-cell-off {
  padding: 8px;
  background-color: #4caf50; /* Color de fondo predeterminado */
  border: 2px solid #2e7d32; /* Color del borde predeterminado */
  color: #fff;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.6s ease, border-color 0.3s ease, box-shadow 0.3s ease; /* Transición suave para color de fondo, color de borde y sombra */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra predeterminada */
}

.bordered-cell-off {
  background-color: #f44336; /* Color de fondo para el estado "OFF" */
  border-color: #b71c1c; /* Color del borde para el estado "OFF" */
}

.icon-img {
  width: 24px; /* Ancho del icono */
  height: 24px; /* Alto del icono */
  display: inline-block; /* Para que la imagen se muestre en línea */
  vertical-align: middle; /* Para alinear verticalmente la imagen */
}
.atras{
  height: 3%;
  width: 3%;
}
.botones-proceso{
  background-color: #626eaf;
}
.custom-icon {
  background-color: #626eaf;
  transition: background-color 0.3s ease;

}
.custom-icon:hover {
  background-color: #ffffff;
}

.custom-icon svg {
  fill: rgb(255, 255, 255);
  transition: fill 0.3s ease;
}

.custom-icon:hover svg {
  fill: #626eaf; /* Cambia el color del icono cuando pasas el ratón sobre él */
}
.titulo-proceso{
  color: white;
}
.avisos-div{
  text-align: justify;
}
/* Definimos la clase para el círculo con borde difuminado */
.circle {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 30, 0);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(219, 223, 4, 0.5); /* Efecto de difuminado */
  animation: pulse 2s infinite;
}

/* Animación para atenuar el círculo */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

.notification button {
  background: none;
  border: none;
  color: inherit;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
